* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-size: 16px;
  }
  @font-face{
    font-family: Roboto;
    src: url("../../assets/fonts/roboto.regular.ttf");
  }
  .offers-container{
    padding: 20px 20px 20px 20px;  
    font-family: "Roboto";
  }
  /*------------LOGO------------*/
  .logo{
    display: flex;
    justify-content: center;  
    margin-bottom: 32px;  
  }
  /*----------------Titles----------------*/
  .offers-title{
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 16px;
  }
  .sub-offers-title{
    color:#828282;
    font-size: 11px;
    font-weight: 700;   
    margin-bottom: 16px;
  }    
  /*------------LODING------------*/
  .Loading-container{
    position: absolute;
    left: 0;
    top:0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
  .overlay{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top:0;
    width: 100vw;
    height: 100vh;    
  }
  .loading-contnet{
    display: flex;    
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;    
  }  

  /*--------------------more styles for maps and lists**/  
  .map-and-list-layout{
    display: flex;
    flex-direction: row;
  }
  .makers-list-container{
    display: flex;
    flex:1;    
    flex-wrap: wrap;    
    margin-top: 23px;
    padding: 10px
  }  
  .medwing-map-container{
    flex:0.8;    
    min-width: 400px;    
  }
  .search-form{
    display: flex;
    flex-direction: row;    
  }
  .search-input{
    border: 1px solid rgb(207, 207, 207);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 8px 10px;    
    flex: 1;
  }
  .search-form button{
    border: 1px solid rgb(207, 207, 207);
    border-left: none;    
    cursor: pointer;   
    font-weight: 600;
    padding: 8px 10px;    
  }
  .search-form button:last-child{    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .search-form button:hover{
    background-color: rgb(207, 207, 207);
  }
  /*--------------------Card---*/
  .makers-list-container > ul {    
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px; 
    list-style-type: none;
    padding: 0;
}
  .card{
    position: relative;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
    max-width: 350px;
    height:220px;
  }
  .card-content{
    padding: 10px;
  }
  .card-title{
    color: rgb(66, 66, 172);
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .sub-content{
    font-size: 14px;
    line-height: 30px;
  }
  .card-footer{
    position: absolute;
    bottom: 0;
    border-top: 1px solid rgb(207, 207, 207);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
  .card-footer button{
    background-color: #ffffff;
    cursor: pointer;    
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    width: 80px;
    height: 30px;
    transition: all 0.2s ease;    
  }
  .edit-btn{    
    border: 2px solid rgb(59, 165, 67);
    color: rgb(59, 165, 67);    
  }
  .edit-btn:hover{
    box-shadow: 1px 1px 6px rgb(59, 165, 67);
    background-color: rgb(59, 165, 67);
    color: #ffffff;
  }
  .delete-btn{
    border: 2px solid rgb(216, 27, 27);
    color: rgb(216, 27, 27);    
    margin-left: 10px;
  }
  .delete-btn:hover{
    box-shadow: 1px 1px 6px rgb(216, 27, 27);
    background-color: rgb(216, 27, 27);
    color: #ffffff;
  }
  /*----------------Divider----------------*/
  .divider{
    background-color: #E8E8E8;
    width: 100%;
    height: 1px;    
    margin: 5px 0;
  }  
  /*----------------Responsive----------------*/
  @media only screen and (max-width:768px){
  .map-and-list-layout{      
      flex-direction: column;
    }
  }
  @media only screen and (max-width:450px){
    .medwing-map-container{      
      min-width: auto;
    }      
  }
  @media only screen and (max-width:320px){
    .makers-list-container > ul {  
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      grid-gap: auto;       
    }
    .search-input{
      flex: 1;
      width: 100%;
    }        
  }