* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/roboto.regular.ttf");
}

.offers-container {
  padding: 20px 20px 20px 20px;
  font-family: "Roboto";
}

/*----------------Titles----------------*/

.offers-title {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 16px;
}

.sub-offers-title {
  color: #828282;
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 16px;
}

/*--------------------more styles for maps and lists**/
.medwing-map-container {
  flex: 1;
  min-width: 400px;
}

/*----------------Divider----------------*/
.divider {
  background-color: #E8E8E8;
  width: 100%;
  height: 1px;
  margin: 5px 0;
}

/*----------------Responsive----------------*/
@media only screen and (max-width:450px) {
  .medwing-map-container {
    min-width: auto;
  }
}

