.search-form {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.search-input {
    border: 1px solid rgb(207, 207, 207);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 8px 10px;
    flex: 1;
}

.search-form-button {
    border-left: none;
    font-weight: 600;
    padding: 8px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #4E66A2;
    color: white;
}

.search-form-button:hover {
    background-color: rgb(207, 207, 207);
}

@media only screen and (max-width:320px) {
    .search-input {
        flex: 1;
        width: 100%;
    }
}